<form id="defaultForm" action="/user/register" method="post" class="form-horizontal" style="height: 794px; padding-top: 147px; overflow-x: hidden;">
   <div class="form-group">
      <label class="col-lg-3 control-label">First Name</label>
      <div class="col-lg-5">
         <input type="text" class="form-control input-signup" id="name" name="firstName" />
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label">Last Name</label>
      <div class="col-lg-5">
         <input type="text" class="form-control input-signup" name="lastName" />
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label">Email address</label>
      <div class="col-lg-5">
         <input type="text" class="form-control input-signup" name="email" />
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label">Type</label>
      <div class="col-lg-5">
        <select name="type" class="select-type">
           <option value="user">User</option>
           <option value="owner">Owner</option>
        </select>
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label">Password</label>
      <div class="col-lg-5">
         <input type="password" class="form-control input-signup" name="password" />
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label">Retype password</label>
      <div class="col-lg-5">
         <input type="password" class="form-control input-signup" name="confirmPassword" />
      </div>
   </div>
   <div class="form-group">
      <label class="col-lg-3 control-label" id="captchaOperation"></label>
      <div class="col-lg-5">
         <input type="text" class="form-control input-signup" name="captcha" />
      </div>
   </div>
   <div class="form-group">
      <div class="col-lg-9 signup-botton">
         <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
   </div>
   <input type="hidden" name="_csrf" value="{{ _csrf }}"/>

   <!-- <input type="hidden" name="_csrf" value="{{ _csrfToken }}"/> -->
</form>

<div class="container">
  <!--<h2>Modal Example</h2>-->
  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <form id="defaultLoginForm" action="/user/login" method="post" class="form-horizontal" style="height: 300px; padding-top: 50px; overflow-x: hidden;">
             <div class="form-group">
                <label class="col-lg-3 control-label">Email</label>
                <div class="col-lg-5">
                   <input type="text" class="form-control" name="email" />
                </div>
             </div>
             <div class="form-group">
                <label class="col-lg-3 control-label">Password</label>
                <div class="col-lg-5">
                   <input type="password" class="form-control" name="password" />
                </div>
             </div>
             <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3" style="text-align: center;">
                   <button type="submit" class="btn btn-primary" style="border-radius: 0px;">Sign In</button>
                </div>
             </div>
             <input type="hidden" name="_csrf" value="{{ _csrf }}"/>

             <!-- <input type="hidden" name="_csrf" value="{{ _csrfToken }}"/> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- <div  onclick="hello()">Hi</div> -->

<script>
    
</script>
