<div class="row header-nav">
    <div class="my-info-1">
        <div class="insd-info">
            My Info
        </div>
    </div>
    <div class="image-class">
        <img class="img-tag" src="/images/pic.jpg">
    </div>
</div>

<div class="container-wrapper-private">
    <div class="personal-info">
      <div class="row">
          <b style="font-size: 17px;">
            BIDYUT JYOTI TALUKDAR
          </b>
      </div>
      <div class="row">
          <p style="font-size: 12px; margin-top: -3px;">
            Contact Number: +91 9148313601
          </p>
      </div>
      <div class="row" style="font-size: 12px; margin-top: -11px;">
          <p>
            Email ID: bidyut230@gmail.com
          </p>
      </div>
    </div>
    <div class="head-info">
        <div class="row">
            <b style="font-size: 18px;">Member of Technical Staff</b>
        </div>
        <div class="row">
            Web Application Development, Extract Transform Load
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 20px;">
        <div class="row">
            <b style="font-size: 14px;">Profile summary</b>
        </div>
        <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div>
        <div class="profile-summary-content">
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Experienced in working in back-end, building and securing api,
                   mvc, route-view mapping
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Experienced in working in front-end, creating web pages from
                   scratch, UI Design, front-end functionality,page responsiveness.
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Database Architect and design.
                </div>
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Employment Details</b>
        </div>
        <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div>
        <div class="emp-dtls">
            <div class="row">
                <b>May' 16 till date with Nineleaps Technology Solution.</b>
            </div>
            <div class="row">
                Worked in building application(E-Learning) from scratch.
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Key Result Areas</b>
        </div>
        <!-- <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div> -->
        <div class="profile-summary-content" style="margin-top: 10px;">
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Providing initiative for building the project.
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Guided and helped freshers in learning and building application.
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Provided some good estimates to the Business Analyst so to plan properly.
                </div>
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">

        <div class="emp-dtls">
            <div class="row">
                <b>Sep' 15 - Feb' 16 SSN Logistics</b>
            </div>
            <div class="row">
                Worked as an Industrial Engineer
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Key Result Areas</b>
        </div>
        <!-- <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div> -->
        <div class="profile-summary-content" style="margin-top: 10px;">
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Worked in optimizing the flow of the packages in operations.
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Worked in identifying bottlenecks in the logistics process.
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Identify the old packages in the processing center and prioritized
                  them to ship fast.
                </div>
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">

        <div class="emp-dtls">
            <div class="row">
                <b>June' 15 - Aug' 15 Jindal Steel and Power Limited</b>
            </div>
            <div class="row">
                Worked as a Mining Engineer
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Key Result Areas</b>
        </div>
        <!-- <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div> -->
        <div class="profile-summary-content" style="margin-top: 10px;">
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Worked in operations and understood the flow and how things worked
                  in field.
                </div>
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Technical Skills</b>
        </div>
        <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div>
        <div class="tech-skills" style="margin-top: -10px;">
            <div class="row">
                <b>Language:</b> Javascript, NodeJs
            </div>
            <div class="row">
                <b>Framework:</b> Sails
            </div>
            <div class="row">
                <b>Database:</b> Mongodb
            </div>
            <div class="row">
                <b>Platform:</b> Ubuntu(14.04)
            </div>
            <div class="row">
                <b>Basic:</b> Data Structure and Algorithm
            </div>
            <div class="row">
                <b>Others:</b> Ansys, Autocad
            </div>
        </div>
    </div>
    <div class="profile-summary" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="row">
            <b style="font-size: 14px;">Education</b>
        </div>
        <div class="row" style="margin-top: -20px;">
           <hr style="border: 1px solid #989898;"></hr>
        </div>
        <div class="profile-summary-content" style="margin-top: -10px;">
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  Graduation: From <a href="http://www.iitkgp.ac.in/">Indian Institute of Technology Kharagpur</a>
                  (B.Tech+M.Tech Dual Degree) in Mining Engineering 2010-2015 with CGPA 7.08/10
                </div>
            </div>
            <div class="row row-summary-line">
                <div class="circle-dot-tp">
                  <div class="circle-dot">

                  </div>
                </div>
                <div class="raw-content">
                  12th: From Shishupatshala in 2009 with 79.8%(Assam State Board)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-info">
    <div class="row">
        <div class="show-more-less hidden-cls">
                Show Details Information
        </div>
    </div>
    <div class="row" style="height: 15px;">

    </div>
    <div class="info-details" style="display: none;">
        Hi, Myself Bidyut Jyoti Talukdar.My native place is Dhubri,Assam.I have
        completed my 10th and 12th from Dhubri. After that I moved to Kharagpur
        for graduation.I have completed my graduation from IIT Kharagpur, where
        i got placed on campus in Jindal Steel and Power Limited as Mining
        Engineer But I wanted to be in developer domain so I moved to Bangalore.
        Here I took a job in SSN Logistics temporarily to meet my expenses.And
        started with some basics of web.Finally I got a job at Nineleaps
        Technology Solution.Now I am working in this company.
    </div>
</div>
<div class="row footer-nav">
    <div class="content-footer" style="margin-bottom: 40px; margin-top: 40px;">
        <div class="row ft-cpryt">
            <p style="color: white;">
                This website carries my basic information,
                Copy Right@Bidyut Jyoti  Taludar
            </p>
        </div>
        <div class="row lnkn-link">
            <a href="https://www.linkedin.com/in/bidyut-talukdar-416b8531/" class="link-raw-ln">
                <img class="img-ln" src="/images/linkedin-logo-copy.png" alt="" />
            </a>
        </div>
    </div>
</div>
<!-- <div  onclick="hello()">Hi</div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".show-more-less").hover(function(){
      $(".show-more-less").css("cursor", "pointer");
  });
  $(".show-more-less").click(function(){
      $(".show-more-less").toggleClass("hidden-cls");
      var isHidden = $(".show-more-less").hasClass("hidden-cls");
      $(".info-details").slideToggle();
      if(isHidden) {
          $(".show-more-less").html("Show Details Information");
      }
      else {
        $(".show-more-less").html("Hide Information");
      }
  });
});
</script>
